<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- FONTAWESOME -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css"
            integrity="sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ=="
            crossorigin="anonymous"
        />
        <!-- BOOTSTRAP -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
        />
        <!-- STYLESHEET -->
        <link rel="stylesheet" href="style.css" />
        <!-- VUE -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"
            integrity="sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg=="
            crossorigin="anonymous"
        ></script>
        <!-- AXIOS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"
            integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ=="
            crossorigin="anonymous"
        ></script>
        <!-- TITLE -->
        <title>Dischi</title>
    </head>
    <body>
        <div id="root">
            <!-- HEADER -->
            <header class="d-flex align-items-center">
                <nav
                    class="container d-flex justify-content-between align-items-center"
                >
                    <!-- NAV LEFT LOGO -->
                    <nav class="nav-left">
                        <a href="#"
                            ><i class="fa-brands fa-spotify fa-3x"></i
                        ></a>
                    </nav>
                    <!-- NAV RIGHT SELECT -->
                    <nav class="nav-right">
                        <select
                            class="form-select"
                            v-model="selectedGenre"
                            @change="getDisks"
                        >
                            <option value="" selected>--No Filter--</option>
                            <option
                                v-for="(genre, i) in genres"
                                :key="i"
                                :value="genre"
                            >
                                {{ genre }}
                            </option>
                        </select>
                    </nav>
                </nav>
            </header>
            <!-- MAIN -->
            <main class="pt-5">
                <!-- LOADER -->
                <div
                    v-if="isLoading"
                    class="loader d-flex justify-content-center align-items-center"
                >
                    <i class="fa-solid fa-circle-notch fa-4x fa-spin"></i>
                </div>
                <!-- DISKS SECTION -->
                <section v-if="!isLoading && !showInfo" class="disks container">
                    <div class="row row-cols-3">
                        <div
                            v-for="(disk, i) in disks"
                            :key="i"
                            class="col d-flex justify-content-center mb-5"
                        >
                            <div
                                class="card text-center"
                                @click="showDiskInfo(i)"
                            >
                                <figure class="py-4 px-5 mb-0">
                                    <img :src="disk.poster" :alt="disk.title" />
                                </figure>
                                <h4>{{ disk.title }}</h4>
                                <address>
                                    <h5>{{ disk.author }}</h5>
                                    <h4>{{ disk.year }}</h4>
                                </address>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- INFO CARD -->
                <div
                    v-if="showInfo"
                    class="disk-info d-flex justify-content-center align-items-center"
                >
                    <i class="fa-solid fa-xmark fa-2x" @click="closeInfo"></i>
                    <div class="card text-center">
                        <figure class="disk-info-figure py-4 px-5 mb-0">
                            <img
                                class="img-fluid"
                                :src="disks[currentIndex].poster"
                                :alt="disks[currentIndex].title"
                            />
                        </figure>
                        <h4>{{ disks[currentIndex].title }}</h4>
                        <address>
                            <h5>{{ disks[currentIndex].author }}</h5>
                            <h4>{{ disks[currentIndex].year }}</h4>
                        </address>
                    </div>
                </div>
            </main>
        </div>
        <!-- JAVASCRIPT -->
        <script src="script.js"></script>
    </body>
</html>
