:root{
    --logo: rgb(23,215,95);
    --mainbg: rgb(29,45,60);
    --secondarybg: rgb(6,19,31);
}

header {
    height: 10vh;
    background-color: var(--secondarybg);
}

header .nav-left a{
    text-decoration: none;
    color: var(--logo);
}

main{
    height: 90vh;
    background-color: var(--mainbg);
    overflow-y: auto;
    color: white;
    position: relative;
}

.loader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.disks .card {
    background-color: var(--secondarybg);
    cursor: pointer;
    transition: all 0.5s;
}

.disks .card:hover{
    box-shadow: 0 0 10px var(--logo);
    transform: translateY(-20px);
}

.disks figure, .disk-info-figure {
    height: 300px;
}

.disks figure img, .disk-info-figure img {
    max-height: 100%;
    width: auto;
}

.disk-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.disk-info .card{
    background-color: transparent;
}

.disk-info .fa-xmark {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
